<%= form_for(@dream) do |f| %>
<h2> <%= "Share with #{@dream.funder_user.email} about how this experience impacted your life." %> </h2>

  <%= f.label 'Type an attitude of gratitude note' %><br>
  <%= f.text_field :thanks %><br>

  <%= f.submit "Add My Thanks" %>
  <% end %>
