<%= form_for(@dream) do |f| %>
<h2> <%= "Share with your funder and the FG App Community how this dream experience impacted your life." %> </h2>

  <%= f.label 'Type your token of thanks below' %><br>
  <%= f.text_field :thanks %><br>

  <%= f.submit("Add Thanks") %>
  <% end %>
