<h1> Make Updates to Your Dream Experience </h1>
<h2> <%= @dream.name %> -- $<%= @dream.cost %> </h2></br>
<br>
<%= form_for(@dream) do |f| %>

  <p> <%= f.label 'Update the name or cost of your dream experience:' %> </p> <br> 
  <p> <%= f.text_field(:name) %></p>
<br>
<br>
  <p> <%= f.label 'Update cost:' %> </p> 
  <p> <%= f.text_field :cost %></p>
  <%= f.submit("Update Name and/or Cost of Dream") %>
  <% end %>
