<h1>Fund a Dream</h1>

<%# #Lowest level of abstraction -- most explicit control
<form action="/dreams" method="POST"> %>

<%# # Mid-level abstraction %>
<%= form_tag("/dreams") do %>
  <%= label_tag "Dream Name" %>
  <%= text_field_tag "Name" %>

  <%= label_tag "Funding Needed" %>
  <%= text_field_tag "Cost" %>

  <%# <%= hidden_field_tag "dreamer_id", @current_user.id %>

  <%= submit_tag %>
<% end %>

<%# # Highest level of abstraction -- saves time, most amount of assumptions built into Rails
<%= form_for(@dream) %>