<h1> Dream to Fund is <%= @dream.name %> for a total cost of $<%= @dream.cost %> </h1>
<h2> Requested by: <%= @dream.dreamer_user.email %> </h2> 


<% if @dream.funded? %>
    <h3> Dream made real by: <%= @dream.funder_user.email %></h3>
<% else %>
    <%= form_for(@dream) do |d| %>
        <% if @dream.dreamer_user.email == @current_user.email %>
            <p>This dream belongs to you.</p>
        <% else %>
          <%= d.submit "Fund This Dream" %>
        <% end %>
    <%# # Sends a patch request with a funder_user_id to update the dream available to fund
    # Can't update a dream that's already been funded -- or don't show dreams that have been funded on the All Dreams page
    # So that no one else uses this button to overwrite another funder who already funded this dream %> 
  <% end %>
  
<% end %>