<h1><b> Dream Details </b></h1>
<h2> <%= @dream.name %> for a total cost of $<%= @dream.cost %></h2>


<% if @dream.funded? %>
    <% if @dream.dreamer_user.id == @current_user.id %>
    <h3><b> This is your dream. </b></h3> 
    <% else %>
    <h2> Requested by: <%= link_to "#{@dream.dreamer_user.email}", show_dreamer_path(@current_user.id) %> </h2> 
    <% end %> 
    <%# # TODO FIX (:id) on next line below to show users/8/dreams/18/funders/9 %>
    <% if @dream.funder_user.id == @current_user.id %>
    <h3><b> Funded by you </b></h3> 
    <% else %>
    <h3> Funded by: <%= link_to "#{@dream.funder_user.email}", show_funder_path(:id) %></h3>
    <% end %>

    <% if @dream.thanked?(@dream) %>  
        <h3> Words of Appreciation: <%= "#{@dream.thanks}" %> </h3>
    <% else %>
        <% if @dream.dreamer_user.id == @current_user.id %>
        <h3> <%= render :partial => 'form' %> </h3> 
        <% else %>
        <h3> The dream requester has been notified to share the impact of their experience with you. </h3>
        <% end %>
    <% end %>
<% else %>
    <% if @dream.dreamer_user.email == @current_user.email %>
        <p>This dream belongs to you and is awaiting a funder.</p>
        <%= link_to "UPDATE DREAM DETAILS", edit_dream_path(@dream.id) %>
    <% elsif %>
        <% if @dream.dreamer_user.email != @current_user.email %>
            <h2> Requested by: <%= @dream.dreamer_user.email %> </h2> 
            <%= form_for(@dream) do |d| %>
                <%= d.submit("Fund This Dream") %>
            <% end %>
        <% end %>
    <% end %>
    <%# # Sends a patch request with a funder_user_id to update the dream available to fund
    # Can't update a dream that's already been funded -- or don't show dreams that have been funded on the All Dreams page
    # So that no one else uses this button to overwrite another funder who already funded this dream %> 
<% end %>