<h1> Dream to Fund: </h1>
<h2><%= @dream.name %> for a total cost of $<%= @dream.cost %></h2>


<% if @dream.funded? %>
    <h2> Requested by: <%= @dream.dreamer_user.email %> </h2> 
    <h3><%= link_to "Funded by: #{@dream.funder_user.email}", show_funder_path(:id) %></h3>
    <% if @dream.thanked?(@dream) %>  
        <h3> Words of Appreciation: <%= "#{@dream.thanks}" %> </h3>
    <% else %>
        <h3> <%= render :partial => 'form' %> </h3> 
    <% end %>
<% else %>
    <% if @dream.dreamer_user.email == @current_user.email %>
        <p>This dream belongs to you and is awaiting a funder.</p>
    <% elsif %>
        <% if @dream.dreamer_user.email != @current_user.email %>
            <h2> Requested by: <%= @dream.dreamer_user.email %> </h2> 
            <%= form_for(@dream) do |d| %>
                <%= d.submit("Fund This Dream") %>
            <% end %>
        <% end %>
    <% end %>
    <%# # Sends a patch request with a funder_user_id to update the dream available to fund
    # Can't update a dream that's already been funded -- or don't show dreams that have been funded on the All Dreams page
    # So that no one else uses this button to overwrite another funder who already funded this dream %> 
<% end %>