<!DOCTYPE html>
<html>
  <head>
    <title>fgapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:current_user_id] %>
      <nav>        
        <section>
          <%= link_to_unless_current "Dreams To Support", dreams_path %>
        </section>
      
        <section class="utility">
          <% if session[:current_user_id] %>
          You are logged in as: <%= @current_user.email %> | <a href="/logout">Logout</a>
          <% else %>
          <%= link_to_unless_current "Login", login_path %>
          <%= link_to_unless_current "Register", register_path %>
          <% end %>
        </section>

      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
